<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="logFilePath" value="QualityWings2GSX.log" />
      <add key="simbriefURL" value="https://www.simbrief.com/api/xml.fetcher.php?userid={0}" />
      <add key="fmsPath" value="F:\Prepar3D\Prepar3D v5\QualityWings\QW787\FlightPlans" />
      <add key="pilotID" value="218765" />
      <add key="xmlFile" value="ofp.xml"/>
      <add key="useActualValue" value="true"/>
      <add key="noCrewBoarding" value="true"/>
      <add key="testArrival" value="false"/>
      <add key="constGPS" value="16,5"/>
      <add key="constFuelWeight" value="6,69921875"/>
      <add key="constKilo" value="0,45359237"/>
      <add key="constPercent" value="8388608"/>
      <add key="constMaxWing" value="5737"/>
      <add key="constMaxCenter" value="23278"/>
      <add key="constPaxDash8" value="28;198"/>
      <add key="constPaxDash9" value="30;255"/>
      <add key="constPaxDash10" value="32;298"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>